async-timeout==4.0.2
Brotli==1.0.9
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
mutagen==1.46.0
pycryptodomex==3.17
python-dotenv==1.0.0
redis==4.5.5
requests==2.30.0
six==1.16.0
spotipy==2.23.0
urllib3==2.0.2
websockets==11.0.3
yt-dlp==2023.3.4
